<html>
<head>
<title>Habit Tracker</title>
<p align="Center" style="font-size: xx-large; font-weight: bold; font-style: oblique; courier: ; color: #FFFFFF;">Diet Free Habit Tracker</p>
</head>

<body bgcolor="#006699">
<p> drink under 200 non dairy calories a day </p>
<p> video file is here</p>
<p>Liquid calories can easily add up without making you feel full. That spells trouble! Keep in mind that the average adult female only requires 1,700 to 1,900 calories daily, while the average adult male requires 1,900 to 2,200 calories. The goal is to keep liquid calories (not counting skim milk or soymilk) to no more than 200 calories per day. Most people underestimate the number of calories they drink by as much as 30 percent!
</p>

</div>

</body>
</html>
