<html>
<head>
<title>Habit Tracker</title>
<p align="Center" style="font-size: xx-large; font-weight: bold; font-style: oblique; courier: ; color: #FFFFFF;">Diet Free Habit Tracker</p>
</head>

<body bgcolor="#006699">
<p> drink water in 8oz. increments 8 times a day </p>
<p> video file is here</p>
<p>Water is the body's most important nutrient. It provides the healthy internal "car wash" you need for better concentration, fighting diseases and flushing away fat. Begin drinking water first thing each morning and add lemon, lime or a splash of juice for a refreshing taste change throught the day. Replace calorie-filled sodas with water because unconsciously drinking high-sugar beverages can account for up to 50 extra pounds you may be carrying around. And drinking just one can of soda per day can double your chances of developing type 2 diabetes.</p>

</div>

</body>
</html>
