<html>
<head>
<title>Habit Tracker</title>
<p align="Center" style="font-size: xx-large; font-weight: bold; font-style: oblique; courier: ; color: #FFFFFF;">Diet Free Habit Tracker</p>
</head>

<body bgcolor="#006699">
<p> eat often including a vegitable or fruit </p>
<p> video file is here</p>
<a href="choosemyplate.gov" >goverment will teach you how to eat</a>
<p>Eating often keeps your hunger hormones under control and prevents you from feeling starved and then overeating. By including a fruit or vegetable with every meal or snack, you'll be satisfied with fewer calories while loading up on disease-fighting, fat-flushing vitamins, minerals and antioxidants. This 200-300 daily calorie savings may not seem like much, but this habit alone can melt off 20 to 30 pounds in a year while protecting you from heart disease, type 2 diabetes and cancer.</p>

</div>

</body>
</html>
