<html>
<head>
<title>Habit Tracker</title>
<p align="Center" style="font-size: xx-large; font-weight: bold; font-style: oblique; courier: ; color: #FFFFFF;">Diet Free Habit Tracker</p>
</head>

<body bgcolor="#006699">
<p> exercise 30 min a day doing cardio/strength training/flexiblity</p>
<p> video file is here</p>
<p>The benefits of exercise far exceed boosting your metabolism and burning fat. Aerobic activities improve your immune system while fighting heart disease, type 2 diabetes, cancer, dementia, and depression. Adding strengh-traning bumps up these benefits even more by helping you maintain proper strength and balance, and helps frevent insulin resistance and osteoporosis.
  
When you commit to be fit, are curious and courageous enough to discover your "fitness love" and surround yourself with like-minded friends, then exercise will become who you are as much as your own middle name! When you think of exercise as somthing you "get" to do instead of something you "have" to do, your life will truly change forever."
</p>

</div>

</body>
</html>
