<html>
<head>
<title>Habit Tracker</title>
<p align="Center" style="font-size: xx-large; font-weight: bold; font-style: oblique; courier: ; color: #FFFFFF;">Diet Free Habit Tracker</p>
</head>

<body bgcolor="#006699">
<p> Find the Fat </p>
<p> video file is here</p>
<p>Choose foods that are as low in fat as possible, then add back limited amounts of good fat. Become a no-fried-foods person and begin exploring low-fat cooking methods. Choose lean meats, low-fat cheeses and skim milk. Clear your pantry of anything labeled "partially hydrogenated" or "hydrogenated." Then add back limited portions of unsaturated and omega 3 good fats, the kind found in nuts, seeds, olive oil and salmon. This is the easiest way to eliminate the bad saturated and ugly trans fats while getting just enough of the good unsaturated and omega 3 fats your body needs. Not only will this habit help you lose weight by reducing the total amount of fat you eat, it will also help you stay on the safe side of the statistic that one out of every two people dies of heart disease.</p>

</div>

</body>
</html>
