<html>
<head>
<title>Habit Tracker</title>
<p align="Center" style="font-size: xx-large; font-weight: bold; font-style: oblique; courier: ; color: #FFFFFF;">Diet Free Habit Tracker</p>
</head>

<body bgcolor="#006699">
<p> eat breakfest every day </p>
<p> video file is here</p>
<p>People who include breakfast eat fewer calories daily than people who don't. And when you stop "unconscious" evening snacking, you'll save another 300 or more calories daily and be ready to start the next day right by eating a nutritious breakfast. This habit won't make you weigh less after just one day or even a week. But after a full year of including breakfast and eliminating evening snacking, you could be 30 to 50 punds lighter!</p>

</div>

</body>
</html>
