<html>
<head>
<title>Habit Tracker</title>
<p align="Center" style="font-size: xx-large; font-weight: bold; font-style: oblique; courier: ; color: #FFFFFF;">Diet Free Habit Tracker</p>
</head>

<body bgcolor="#006699">
<p> Find the Fat </p>
<p> video file is here</p>
<p>Choose whole-grain bread, rice and pasta instead of white. Go for fresh meat and cheese, not processed. And don't be suckered into thinking fruit-flavored snacks or vegetable chips are healthy alternatives to real fruit and vegetables. Wholesome food has less sugar, fat, sodium and chemicals and provides more fiber and natural nutrients. Natural, close-to-the-farm food also helps normalize blood sugar and blood pressure, while providing greater hunger control than processed and chemically enhanced food.</p>

</div>

</body>
</html>
