<html>
<head>
<title>Habit Tracker</title>
<p align="Center" style="font-size: xx-large; font-weight: bold; font-style: oblique; courier: ; color: #FFFFFF;">Diet Free Habit Tracker</p>
</head>

<body bgcolor="#006699">
<p> Eat until no longer hungry and stop the lead-filled beach ball. </p>
<p> video file is here</p>
<p>This is the most difficult habit to master but the most important to adopt. Share an entree, quit the "clean-plate club," eat slowly and savor every bite. Learn to enjoy feeling light on your feet instead of stuffed, like a lead-filled beach ball. When you regularly stop eating when you're beginning to feel no long hungry, you can save as many as 400 calories a day. That equates to 40 pounds lost in a year's time. Combine that with ending emotional (mindless) eating, and you could drop another 20 pounds. Now you've lost 60 punds in a year from adopting just this one habit alone!</p>

</div>

</body>
</html>
