<html>
<head>
<title>Habit Tracker</title>
<p align="Center" style="font-size: xx-large; font-weight: bold; font-style: oblique; courier: ; color: #FFFFFF;">Diet Free Habit Tracker</p>
</head>

<body bgcolor="#006699">
<p> eat as little sugar as possible </p>
<p> video file is here</p>
<p>First, put a halt to your sweet cravings by eating fruit. Fruit is nature's candy and a natural way to give your brain the simple carbohydrates it needs to prevent sweet cravings. Then, learn to dial down the level of sweetness you desire by gradually choosing cereals that are lower in sugar, unsweetened beverages and desserts made with half the typical sugar. Finally, learn to recognize what is "sweet" and plan to enjoy two small sweet treats a day. Once your taste buds no longer enjoy an intensely sweet taste, you'll naturally eat less sugar without feeling deprived. Adopting this habit will save you 100-500 calories a day, helping you to lose 10-50 pounds by the end of the year!</p>

</div>

</body>
</html>
